.more-icon.show-details {
  transform: rotate(180deg);
  transition: transform 300ms ease-out;
}

.more-icon{
transition: all 300ms ease-out;
}

.details{
  max-height: 0;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.details.show-details{
  max-height: 50rem;
  transition: max-height 400ms ease-in-out;
}
